.container-blocks{
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 0;
  .block-item{
   position: relative;
    display: inline-block;

    background: rgba(0,0,0,0.2);
    z-index: 2;
    width: 0;
    transition:  0.2s;
    overflow: hidden;
    margin-left: 2px;

    &.show{
      width: 180px;
    }
    &>div{
      height: 100%;
      position: relative;
      border: 1px solid black;
    }
    .title{
      background: #ffffff;
      padding: 2px;
      font-size: 13px;
      .button{
        padding: 2px 2px;
        color: black;
        font-size: 13px;
       /* position: absolute;
        right: 0;
        top: 0;*/
        &:hover{}
        //background: transparent;
      }
    }
  }
}
@import "block-one-object";