@import 'leaflet';

.leaflet-top.leaflet-left{
  right: 0;
  float: right;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control{
  right: 0;
  float: right;
  margin-right: 10px;
  margin-top: 40px;
}
.leaflet-popup-content-wrapper{
  border-radius: 3px;
}
.leaflet-popup-content{
  margin: 3px 5px;
}