* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  height: 100%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;

  background: #b5c6d0; /* Old browsers */
  background: -moz-linear-gradient(top,  #b5c6d0 0%, #d8e1e7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5c6d0), color-stop(100%,#d8e1e7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b5c6d0 0%,#d8e1e7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b5c6d0 0%,#d8e1e7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b5c6d0 0%,#d8e1e7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b5c6d0 0%,#d8e1e7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c6d0', endColorstr='#d8e1e7',GradientType=0 ); /* IE6-9 */




}

html {
  height: 100%;
}

.form-login {
  background: #F5FCFF;
  margin: 0px auto;
  padding: 20px;
  width: 400px;
  // height: 200px;

  color: black;
border: 2px solid #727a84;
  box-shadow: 1px 2px 5px gray;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table.form {
  margin: 0 auto;
}

input {
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid gray;
  outline: none;
  width: 100%;

  &:focus {
    box-shadow: 0 0 10px white;
  }
}

.tag1 {
  margin: 0px 0 2px 0;
}

.tag2 {
  margin: 5px 0 2px 0;
}

.reg {
  margin-left: 130px;
}

.hide {
  opacity: 0;
  transition: 1s;
}

.show {
  opacity: 1;

  transition: 0.3s;
}

.box-input {
  margin-left: 131px;
  padding-right: 10px;
}

.helpdiv {
  text-align: center;
  position: absolute;
  //margin-top: 20px;
  width: 100%;
  input {
    left: 50%;
    width: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3;
    border-bottom-left-radius: 3;
  }
}

ul {
  list-style-type: none;
  margin: 0;

  overflow: hidden;
}



a:link, a:visited {
  display: block;
  padding: 3px 5px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: 0.3s;
}

a:hover, a:active {
  border: 2px solid #5aacff;
}

.logo {

  margin-right: 10px;
  width: 120px;
  float: left;
  height: 100%;

  color: #ffffff;
  .img {
    background: url("../img/logo_big.png") no-repeat center;
    height: 120px;
    width: 120px;
    background-size: 90% auto;
    //border: 2px solid #0165C2;
  }
  .data {
    display: none;
    padding-bottom: 5px;
    background-color: #0165C2;
    .title {
      font-size: 11px;
      text-align: center;
    }
    .phone {
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      margin: 3px;
    }
  }
}

.button {
  margin: 10px 0;
  background: #4868ff;
  border-top: 1px solid #a4d7ec;
  border-left: 1px solid #87afed;
  box-shadow: 0px 1px 2px #fafafa;
  text-shadow: -1px 1px 2px #4539a2;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 10px;
  width: 248px;
  font-size: 15px;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &:active {
    background: #9fd1ff;

    text-shadow: 0 0 2px white, 0 0 10px white, 0 0 10px white;
  }
}

@media screen and (max-width: 440px) {
  .tag1 {
    margin-top: 10px;
  }

  .form-login {
    width: 80%;
  }

  .clear {
    clear: both;
  }

  .reg {
    margin-left: inherit;
  }

  .logo {
    width: 100%;
    height: 50px;
    .img {
      float: left;
      width: 50px;
      height: 50px;
    }
    .data {
      height: 50px;
      margin-left: 50px;
      padding-bottom: 0;
    }
  }

  .box-input {
    margin-left: inherit;
    padding-right: 10px;
  }

  .button {
    padding: 5px 0;
    width: 100%;
  }

  .data .title {
    margin-top: 10px;
  }
}
.text-center{
  text-align: center;
}
.main-tag{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.alert-mess{
  margin-top: 5px;
  color: red;
  &.green{
    color: green;
  }
}
.hidden-line {
  border-top: 1px solid #ffffff;
  visibility: hidden;
}