* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: gainsboro;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.main-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(224, 239, 249); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(224, 239, 249, 1) 0%, rgba(242, 246, 248, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224, 239, 249, 1)), color-stop(100%, rgba(242, 246, 248, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(224, 239, 249, 1) 0%, rgba(242, 246, 248, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(224, 239, 249, 1) 0%, rgba(242, 246, 248, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(224, 239, 249, 1) 0%, rgba(242, 246, 248, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(224, 239, 249, 1) 0%, rgba(242, 246, 248, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0eff9', endColorstr='#f2f6f8', GradientType=0); /* IE6-9 */
  z-index: 0;
}

.button {
  display: inline-block;
  background: lightslategrey;
  cursor: pointer;
}

modal {
  position: absolute;
  z-index: 3;
  width: 260px;
  margin-top: 20px;
  left: 50%;
  margin-left: -130px;
  & > div {
    box-shadow: 0 2px 10px black;
    margin-top: 5px;
    background: black;
    overflow: hidden;
    border: 1px solid gray;

    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f6f6), color-stop(21%, #dbdce2), color-stop(49%, #b8bac6), color-stop(80%, #dddfe3), color-stop(100%, #f5f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6f6', endColorstr='#f5f6f6', GradientType=0); /* IE6-9 */

    .content-modal {
      text-align: center;
      padding: 10px;
      color: black;
    }
    .container-buttons-modal {
      text-align: center;
      padding: 5px;
      .button {
        background: #323232;
        border-radius: 2px;
        color: #ffffff;
        margin: 5px;
        padding: 4px 10px;
        box-shadow: 0 2px 5px black;
        &:hover {
          background: red;
          text-shadow: 0 0 2px black;

        }
        &:active {
          background: #c6c6c6;
          box-shadow: inset 0 0 10px gray;
          box-shadow: 0 0 1px gray;
        }

      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
  min-width: 100px;
  .content {
    font-size: 12px;
    color: #ffffff;
    & > div {
      float: left;
      //min-width: 80px;
      padding: 0 5px;
    }
  }
}

.float-right {
  float: right;
}

.example-animate-container {
  background: #ececec;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

@import 'leaflet';
@import 'header';
@import "block-items";
@import "animate";