.setting-options {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 30px;
  width: 460px;
  min-height: 100px;
  margin-left: -230px;
  display: none;
  font-size: 13px;
  @include background-modals();
  @include box-shadow-modal();
  select {
    width: 100%;
  }
  .row{
    margin-top: 2px;
  }
  .opta{
    background: #ffffff;
    border-radius: 3px;
    padding: 2px 4px;
  }
  border-radius: 3px;

  .alert-row{
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    color: red;
    &.show{
      height: 18px;
    }
  }

  .button-close {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 0;
  }
  & > div {
    padding: 10px;
    .title {
      text-align: center;
      font-weight: bold;

    }
    .device-row {
      input.checkbox{
        width: 20px;
      }

    }
  }
  .container-buttons-modal {
    clear: both;
    text-align: center;
    .button {
      background: #323232;
      border-radius: 2px;
      color: #ffffff;
      margin: 5px;
      padding: 4px 10px;
      box-shadow: 0 2px 5px black;
      font-size: 12px;
      &:hover {
        background: red;
        text-shadow: 0 0 2px black;
      }
      &:active {
        background: #c6c6c6;
        box-shadow: inset 0 0 10px gray;
        box-shadow: 0 0 1px gray;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .setting-options{
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
//*animation
$transition: 0.2s;
.setting-options {
  transition: $transition;
  transform-origin: right top;
  &.ng-hide-remove {
    opacity: 0;
    top: 0;
    transform: scaleY(0.1);
    &.ng-hide-remove-active {
      transform: scaleY(1);
      opacity: 1;
      top: 30px;
      transition: $transition;
    }
  }
  &.ng-hide-add {
    opacity: 1;
    top: 30px;
    transform: scaleY(1);
    &.ng-hide-add-active {
      top: 0;
      transform: scaleY(0.1);
      opacity: 0;
      transition: $transition;
    }
  }
}

.device-row {
  $transition: 0.2s;
  transition: $transition;
  transform: rotate(0deg);
  overflow: hidden;
  &.ng-enter {
    opacity: 0;
    max-height: 0;
    transform: rotateX(90deg);
    &.ng-enter-active {
      opacity: 1;
      transition: $transition;
      max-height: 22px;
      transform: rotateX(0deg);
    }
  }
  &.ng-leave {
    opacity: 1;
    max-height: 22px;
    transform-origin: right top;

    &.ng-leave-active {
      opacity: 0;
      max-height: 0;
      transition: $transition;
      transform: scale(0.5, 0.5);
    }
  }
}