.setting-options{
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 40px;
  width: 260px;
  height: 100px;
  margin-left: -130px;
  display: none;
  @include background-modals();
  @include box-shadow-modal();
  border-radius: 3px;
  .button-close{
    position: absolute;
    right: 0;
    padding: 0;
  }
  &>div{
    padding: 10px;
  }
}



//*animation
$transition: 0.2s;
.setting-options {
  transition: $transition;
  transform-origin: right top;
  //none-add
  &.ng-hide-remove {
    opacity: 0;
    transform:scaleY(0.1);
    &.ng-hide-remove-active {
      transform:scaleY(1);
      opacity: 1;
      transition: $transition;
    }
  }
  &.ng-hide-add {
    opacity: 1;
    transform:scaleY(1);
    &.ng-hide-add-active {
      transform:scaleY(0.1);
      opacity: 0;
      transition:$transition;
    }
  }
}