<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Atlas</title>
    <link rel="shortcut icon" href="img/icon.png"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, height=device-height,minimum-scale=1.0, maximum-scale=4.0">

    <link rel="stylesheet" href="build/index.css"/>

    <script src="lib/angular/angular.min.js"></script>
    <script src="build/index.min.js"></script>

</head>
<body ng-controller="events" ng-keypress="($event.which === 13)?post():0">
<div class="helpdiv" ng-class="classVhide">
    <input type="{{typehelp}}" ng-model="helpin" readonly>
</div>

<div class="table form">
    <div class="table-cell">

        <form>
            <div id="form" class="form-login">

                <div class="logo">
                    <div class="img">

                    </div>

                    <div class="data">
                       <!-- <div class="hidden-line"></div>
                        <div class="title">Телефон диспетчера:</div>
                        <div class="phone">(097)900-999-0</div>-->
                    </div>


                </div>
                <div class="clear">

                </div>
                <div class="tag1">
                    {{login}}
                </div>
                <div class="box-input">
                    <input type="text" ng-model="loginin" ng-change="change(loginin, 'text')"
                           ng-focus="show(loginin, 'text')"
                           ng-blur="hide()">

                </div>

                <div class="tag2">
                    {{pass}}
                </div>
                <div class="box-input">
                    <input type="password" ng-model="passin" ng-change="change(passin, 'password')"
                           ng-focus="show(passin, 'password')" ng-blur="hide()">
                </div>
                <div class="alert-mess" ng-class="alertClass">
                    {{alertMess}}
                </div>

                <div class="reg box-button">
                    <div class="button" ng-click="post()" ng-class="lock">
                        Enter
                    </div>
                </div>


                <div class="reg">
                    <ul>
                        <li><a href="regist.html">Регистрация</a></li>
                        <li><a href="forum">Форум</a></li>
                        <li><a href="#contact">Контакты</a></li>
                    </ul>
                    <!--<a href="registarion.html">Регистрация</a>-->
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>