<div ng-repeat="obj in factoryGetDevices | orderBy:'text'" class="block-one-object" ng-click="setCurrent(obj.imei)">
    <div class="row-head">
        <div class="row-footer-obj">
            <div class="row">
            <div class="col-5">
                    <h3>{{obj.text}}</h3>
                </div>
                <div class="col-5">
                    {{obj.phone}}
                </div>
                <div class="col-2 text-right">
                    <div state-obj elapsed-time="obj._elapsedTime" speed="obj.speed">

                    </div>
                </div>
            </div>

            <div class="row">
                <timer start-time="obj._dateTime">{{days}} days, {{hours}} hours, {{minutes}} min, {{seconds}} sec.
                </timer>
            </div>
            <div class="hidden-line" style="margin-top: 5px">

            </div>
            <div class="row">
                <div class="col-4">
                    <div>
                        {{ (obj._dateTime || null ) | date:'yy.MM.dd'}}
                    </div>
                    <div>
                        {{ (obj._dateTime || null ) | date:'HH.mm.ss'}}
                    </div>
                </div>
                <div class="col-2">

                    <div class="row">
                        Сп
                    </div>
                    <div class="row">
                        {{obj.satellites}}
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        Ск
                    </div>
                    <div class="row">
                        {{obj.speed}}
                    </div>

                </div>
                <div class="col-2">
                    <div class="row">
                        Бат
                    </div>
                    <div class="row">
                        {{obj.zaryad}}
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
