<div class="block-item target" ng-class="item.target">
    <div ng-controller="objectsContrl">
        <div class="title">
            <div>
                Объекты <div class="button-close float-right" ng-click="show('target')"></div>
            </div>
        </div>

        <div ng-include="'item/block-one-object.html'" class="list-objects">

        </div>
    </div>
</div>
<div class="block-item rout" ng-class="item.rout">
    <div >
        <div class="title">
            Mаршруты <div class="button float-right" ng-click="show('rout')">x</div>
        </div>
    </div>
</div>
<div class="block-item zone" ng-class="item.zone">
    <div >
        <div class="title">
            Зоны <div class="button float-right" ng-click="show('zone')">x</div>
        </div>
    </div>
</div>