<div style="position: absolute">
    <div class="button" ng-click="show('target')" >
        Объекты
    </div>
    <div class="button" ng-click="show('zone')">
        Зоны
    </div>
    <div class="button" ng-click="serviceShowElements.showReport=!serviceShowElements.showReport">
        Отчет
    </div>
</div>


<div style="float: right">
    <div class="button" ng-click="settingsShow()">
        Настройки
    </div>
    <div class="button" ng-click="exit()">
        Выход
    </div>
</div>
<div class="container-blocks" ng-include="'item/container-blocks.html'">

</div>

