<div class="info-object" ng-show="serviceShowElements.showInfo">
    <div class="row">

        {{factoryGetDevices.current.text || 'None'}} {{factoryGetDevices.current.imei}}
    </div>
    <div class="row">
        <div class="col-5">
            Скорость:
        </div>
        <div class="col-7">
            {{factoryGetDevices.current.speed}}
        </div>
    </div>

    <div class="row" ng-if="factoryGetDevices.current._dateTime">

        <timer start-time="factoryGetDevices.current._dateTime">{{days}} days, {{hours}} hours, {{minutes}} min, {{seconds}} sec.
        </timer>
    </div>
    <div class="row" ng-if="factoryGetDevices.current.satellites">
        <div class="col-5">
            Спутников:
        </div>
        <div class="col-7">
            {{factoryGetDevices.current.satellites}}
        </div>
    </div>
    <div class="row" ng-if="factoryGetDevices.current._dateTime">
        <div class="col-5">
            Дата:
        </div>
        <div class="col-7">
            {{ (factoryGetDevices.current._dateTime || null ) | date:'yyyy.MM.dd'}} {{ (factoryGetDevices.current._dateTime || null ) | date:'HH:mm:ss'}}
        </div>
    </div>
    <div class="row">
         {{factoryGetDevices.current.lat}} {{factoryGetDevices.current.lng}}
    </div>
</div>