<div ng-controller="reportContrl">


    Отчет
    <div class="row">
        <div class="col-4">
            Дата

        </div>
        <div class="col-8">
            <calendar after="after" before="before" link="true">

            </calendar>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <span>
                 Устройство
            </span>

        </div>
        <div class="col-8">
            <select ng-model="currentImei"  ng-options="device.imei as device.text for device in devices" ng-change="changeCurrent()">

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span>
                Предел km/h
            </span>

        </div>
        <div class="col-8">
           <input type="number" ng-model="factoryGetOptions.limitSpeed">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span>
                Шаг точек
            </span>

        </div>
        <div class="col-8">
            <input type="number" ng-model="factoryGetOptions.stepPoints">
        </div>
    </div>
    <div class="row container-buttons">
        <div class="button" ng-click="showTrack()">
            Отобразить
        </div>
        <div class="button">
            Сохранить
        </div>
        <div class="button" ng-click="hideTrack()">
            Скрыть
        </div>
    </div>
    <div class="row" ng-if="devices.current._maxSpeed">
        <div class="col-6">
                 Max скорость
        </div>
        <div class="col-6">
           {{devices.current._maxSpeed}}
        </div>
    </div>
    <div class="row" ng-if="devices.current._points">
        <div class="col-6">
            <span>
                 Количество точек
            </span>
        </div>
        <div class="col-6">
            {{devices.current._points}}
        </div>
    </div>

</div>