<div class="button-close" ng-click="settingsShow()">

</div>
<div>
    <div class="title">
        Настройки
    </div>

    <div class="row">
        <div class="col6">
            Тип карты
        </div>
        <div class="col6 x">
            <select ng-model="data.map" ng-options="map.map as map.text for map in arrMapType">

            </select>
        </div>

    </div>
    <div class="row">
        <div class="col6">
            Часовой пояс
        </div>
        <div class="col6 x">
            <select ng-model="data.timeZone" ng-options="time.text as time.text for time in timeZones">

            </select>
        </div>

    </div>

    <div class="title">
        Устройства
    </div>
    <div>

    </div>
    <div ng-repeat="device in factoryGetDevices | orderBy:'text'" class="row device-row">
        <input type="checkbox" class="checkbox" ng-model="checkbox[$index]" ng-change="checkboxChange($index, device.imei)">
        <input ng-model="device.phone"  type="text" class="text">
        <input ng-model="device.imei" valid="int"  type="text"   class="text">
        <input ng-model="device.text" type="text" class="text">
    </div>
    <div class="row device-row">
        <input ng-model="newDevice.phone" class="text">
        <input ng-model="newDevice.imei" class="text">
        <input ng-model="newDevice.text" class="text">
    </div>

    <div class="container-buttons-modal">
        <div class="button" ng-click="addDevise()">
            Добавить
        </div>
        <div class="button" ng-click="delDevice()">
            Удалить
        </div>
    </div>
</div>