<div class="button-close" ng-click="settingsShow()">

</div>
<div>
    <div class="title">
        Настройки
    </div>

    <div class="row">
        <div class="col6">
            Тип карты
        </div>
        <div class="col6 x">
            <select ng-model="data.map" ng-options="map.map as map.text for map in arrMapType">

            </select>
        </div>

    </div>
    <div class="row">
        <div class="col6">
            Часовой пояс
        </div>
        <div class="col6 x">
            <select  ng-model="data.timeZone" ng-options="time.text as time.text for time in timeZones">

            </select>
        </div>

    </div>

    <div class="title">
        Устройства
    </div>
        <div>

        </div>

        <div ng-repeat="device in factoryGetDevices | orderBy:'text'" class="row device-row" >
            <input value="{{device.text}}">
            <input  valid="int"  ng-model="device._id">
            <input value="{{device.phone}}">
        </div>

    <div>
    </div>
    <div>
    </div>
</div>