<svg height="200" width="100%" ng-repeat="device in arrDeviceCoord" class="ng-scope">
    <!--<path d="M150 0 L75 200 L225 100"></path>-->
    <!-- ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M239 29L239 29" stroke="red" stroke-width="3" fill="none" graph-path="" sx="239" sy="29" ex="239" ey="30"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M239 30L240 30" stroke="red" stroke-width="3" fill="none" graph-path="" sx="239" sy="30" ex="240" ey="32"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 32L240 32" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="32" ex="240" ey="33"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 33L240 33" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="33" ex="240" ey="37"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 37L240 37" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="37" ex="240" ey="38"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 38L240 38" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="38" ex="240" ey="39"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 39L240 39" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="39" ex="240" ey="38"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 38L240 38" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="38" ex="240" ey="36"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 36L240 36" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="36" ex="240" ey="37"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 37L240 37" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="37" ex="240" ey="35"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 35L240 35" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="35" ex="240" ey="33"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 33L240 33" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="33" ex="240" ey="36"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 36L240 36" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="36" ex="240" ey="35"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 35L240 35" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="35" ex="240" ey="36"
              class="ng-isolate-scope"></path>
    </g>
    <!-- end ngRepeat: k in device -->
    <g ng-repeat="k in device" class="ng-scope">
        <path d="M240 36L240 36" stroke="red" stroke-width="3" fill="none" graph-path="" sx="240" sy="36" ex="240" ey="36"
              class="ng-isolate-scope"></path>
    </g>

    <!-- end ngRepeat: k in device -->

    <!-- end ngRepeat: k in device -->
</svg>