<div class="content-dialog">


    <div>
        <div class="title">
            Новая тема
        </div>

        <div class="container-area-mess">
            <input ng-model="m.subject">

            <div style="padding-right: 25px">
                <textarea ng-model="m.message">
                </textarea>
            </div>
        </div>
        <div class="container-button">
            <div class="button" ng-click="done()">
                Создать
            </div>
            <div class="button" ng-click="cancel()">
                Отмена
            </div>
        </div>

    </div>
</div>
